* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/asset/cofee-bg.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  backdrop-filter: brightness(30%);
  height: 100vh;
  background-attachment: fixed;
  min-width: 480px;
}

main {
  background-color: #fff;
}

.head-container {
  max-width: 480px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 8px solid rgb(118, 56, 11);
}

.head {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description h2 {
  color: rgb(224, 120, 45);
  font-family: "Pacifico", sans-serif;
  font-weight: 500;
}

.description h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
}

.btn button {
  min-height: 50px;
  min-width: 90px;
  border: 2px solid white;
  background-color: rgb(224, 120, 45);
}

.about {
  background-color: #fff;
  min-width: 480px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 300px;
  min-width: 480px;
  background-color: rgb(255, 255, 255);
}

.card-description {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-about i {
  color: rgb(224, 120, 45);
  font-size: 40px;
}

.more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 480px;
  padding-top: 45px;
  margin-top: 100px;
}

.more .kotak {
  background-color: gold;
  border: 8px solid rgb(224, 120, 45);
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.more .kotak img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.more .more-description {
  padding: 40px;
  text-align: justify;
}

.more-description h3 {
  color: rgb(224, 120, 45);
  font-family: "Pacifico", sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.more-description h2,
p {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 15px;
}

.more-description button {
  min-width: 115px;
  min-height: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: rgb(224, 120, 45);
  color: #fff;
  border: none;
}

.check-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 480px;
  padding-top: 45px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.check-out .checkout-description {
  padding: 40px;
  text-align: justify;
}

.checkout-description h2 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

.checkout-description h3 {
  color: rgb(224, 120, 45);
  font-family: "Pacifico", sans-serif;
  font-weight: 500;
  padding-bottom: 15px;
}
.checkout-description p {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 15px;
}

.checkout-description button {
  min-width: 115px;
  min-height: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: rgb(224, 120, 45);
  color: #fff;
  border: none;
}

.container-card {
  max-width: 480px;
}
.card-produk {
  min-width: 400px;
  margin-bottom: 10px;
}

.card-produk .card-img {
  width: 400px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
}

img {
  display: block;
  width: 100%;
}

.card-produk .card-produk-desc {
  font-family: "Montserrat", sans-serif;
  padding: 10px 0;
}

.card-produk-desc h4 {
  padding-bottom: 5px;
}
.card-produk-desc p {
  font-weight: 600;
  color: rgb(224, 120, 45);
}

.services {
  min-width: 480px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.services h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
}
.services h3 {
  font-weight: 500;
  font-family: "Pacifico", sans-serif;
  color: rgb(224, 120, 45);
}

.services .card-container-service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

.card-service {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 510px;
  align-items: center;
  position: relative;
}

.service-img {
  width: 400px;
  height: 275px;
  overflow: hidden;
  border-radius: 10px;
}

.service-img img {
  object-fit: cover;
  width: 100%;
}
.container-circle {
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 210px;
}
.circle {
  background-color: rgba(224, 120, 45, 0.486);
  display: inline;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle i {
  font-size: 30px;
  color: rgb(224, 120, 45);
}

.service-description {
  text-align: center;
  padding-top: 45px;
  font-family: "Montserrat", sans-serif;
}

.service-description h4 {
  font-family: "Montserrat";
}
.service-description p {
  font-size: 15px;
  padding: 15px;
}

.card-service button {
  margin-top: 10px;
  min-width: 120px;
  min-height: 30px;
  background-color: rgb(224, 120, 45);
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
}
.contact-container {
  background-color: aqua;
  font-family: "Montserrat", sans-serif;
  min-width: 480px;
  min-height: auto;
  padding: 40px;
  margin-top: 100px;
}

.contact .top {
  display: flex;
  gap: 10px;
  color: rgb(224, 120, 45);
  padding-bottom: 5px;
}

.contact p {
  font-weight: 600;
  font-size: 14px;
}
