* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #1a232e;
}

.main-container {
  background-color: #334354;
  border: 1px solid #57595a;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: end;
  color: rgb(172, 170, 170);
}

.lingkaran {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
